{% extends "base.html" %}

{% block content %}
<div style="width: 300px; margin: auto; padding-top: 50px;">
    <h2>Login</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div style="margin-bottom: 10px;">
            {{ form.email.label }}<br>
            {{ form.email(size=30) }}<br>
            {% if form.email.errors %}
                <span style="color: red;">{{ form.email.errors[0] }}</span><br>
            {% endif %}
        </div>
        <div style="margin-bottom: 10px;">
            {{ form.password.label }}<br>
            {{ form.password(size=30) }}<br>
            {% if form.password.errors %}
                <span style="color: red;">{{ form.password.errors[0] }}</span><br>
            {% endif %}
        </div>
        <div style="margin-bottom: 10px;">
            {{ form.remember_me() }} {{ form.remember_me.label }}<br>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
    <div style="padding-top: 10px;">
        <a href="{{ url_for('auth.register') }}">Don't have an account? Register here.</a>
    </div>
</div>
{% endblock %}
